/* $color1: #2D3142;
$color2: #4F5D75;
$color3: #BFC0C0;
$color4: #FFFFFF;
$color5: #EF8354; */
body {
    margin: 0px;
}
#root {
    background-color: #2D3142;
}

#root-light {
    background-color: white;
}

.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    flex: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu-light {
    flex: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.class-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.class-logo-light {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.class-logo a {
    color: #EF8354;
    padding: 10px;
    border-radius: 10px;
    border-right: 3px solid #EF8354;
    border-bottom: 3px solid #EF8354;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

.class-logo-light a {
    color: #2d3142;
    padding: 10px;
    border-radius: 10px;
    border-right: 3px solid #2d3142;
    border-bottom: 3px solid #2d3142;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
}

.nav-menu-light a {
    text-decoration: none;
    color: #2d3142;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
}

.main-header-section {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-header-section h1 {
    margin-left: 100px;
    margin-right: 100px;
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Archivo', sans-serif;
}

.main-header-section-light {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-header-section-light h1 {
    margin-left: 100px;
    color: #2d3142;
    font-size: 60px;
    font-family: 'Archivo', sans-serif;
}

.responsive-section {
    background-color: white;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.responsive-section-schedules {
    background-color: #4F5D75;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.professor-section-left {
    height: 400px;
    flex: 50%;
    max-width: 50%;
    margin: 20px;
    border-radius: 20px;
    background-color: #4F5D75;
}

.professor-section-right {
    height: 400px;
    flex: 50%;
    max-width: 50%;
    margin: 20px;
    border-radius: 20px;
    background-color: #4F5D75;
}

@media screen and (max-width: 800px) {
    .professor-section-left {
        flex: 100%;
        max-width: 100%;
    }

    .professor-section-right {
        flex: 100%;
        max-width: 100%;
    }

    .responsive-section {
        flex-wrap: wrap;
    }
}

.class-days-header {
    display: flex;
    justify-content: flex-start;
}

.class-days-header h1 {
    margin: 30px;
    border-radius: 10px;
    border-right: 3px solid #EF8354;
    border-bottom: 3px solid #EF8354;
    font-family: 'Orbitron', sans-serif;
    color: #EF8354;
    font-size: 30px;
    padding: 10px;
}

.class-days-header h2 {
    margin: 40px 10px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 30px;
    float: right;
}

.professor-photo-info {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.professor-photo img {
    border-radius: 10px;
    border: 1px solid black;
}

.professor-info p {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    color: white;
}

.schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-button a {
    height: 40px;
    flex: 200px;
    max-width: 200px;
    margin-top: 10px;
    background-color: #BFC0C0;
    text-decoration: none;
    color: #2D3142;
    border-radius: 10px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

.footer {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer p {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 30px;
    color: black;
}

.footer a {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 30px;
}

.syllabus-container {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 800px;
    width: 80%;
}
.syllabus iframe {
    height: 700px;
    width: 100%;
}

.post-header-syllabus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3142;
}

.post-header-schedules {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3142;
}

.post-header-help {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3142;
}
/* .left-calendar-container {
    height: 600px;
    flex: 50%;
    max-width: 50%;
    margin: 20px;
    background-color: #4F5D75;
}

.right-calendar-container {
    height: 600px;
    flex: 50%;
    max-width: 50%;
    margin: 20px;
    background-color: #4F5D75;
} */

/* @media screen and (max-width: 1200px) { */
    /* .left-calendar-container {
         flex: 100%;
        max-width: 100%; 
    }

    .right-calendar-container {
         flex: 100%;
        max-width: 100%; 
    } */

    .responsive-section-schedules {
        background-color: #2d3142;
        margin-top: 100px;
        margin-bottom: 100px;
        height: 800px;
        width: 80%;
        /* flex-wrap: wrap;
        flex: 100%;
        max-width: 100%; */
    }
    
    .responsive-section-help {
        background-color: #2d3142;
        margin-top: 100px;
        margin-bottom: 100px;
        height: 400px;
        width: 80%;
    }

    .help-ta-table {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: white;
        border-collapse: separate;
        border-spacing: 1em;
    }
    .col {
        padding-top: 5px;
    }
    .ta-lab-header {
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        color: white;
    }
}